<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="MobileOptimized" content="176"/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="robots" content="noindex,nofollow"/>
    <script src="https://telegram.org/js/telegram-web-app.js?1"></script>
    <script>
        function setThemeClass() {
            document.documentElement.className = Telegram.WebApp.colorScheme;
        }

        Telegram.WebApp.onEvent('themeChanged', setThemeClass);
        setThemeClass();

    </script>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body style="visibility: hidden;">
    <div id="header">
        <h1 id="header_text">Admin Panel</h1>
    </div>
<section>
    <textarea name="message_input" id="message_input" cols="30" rows="10"></textarea>
    <button id="main_btn" onclick="sendMessage('');">Send to everyone</button>
    <div id="status" class="hint" style="display: none;">
    </div>
</section>
<script src="https://webappcontent.telegram.org/js/jquery.min.js"></script>
<script src="../static/script.js"></script>
</body>
</html>
