services:
  app:
    # properties
    image: telegram_bot:latest
    container_name: tg_bot_app

    # settings
    restart: unless-stopped
    build:
      context: ${PWD}
      dockerfile: docker/Dockerfile
    ports:
      - ${APP_EXPOSE_PORT}:8000

    # commands
    command: /bin/bash -c \
      "echo '[+] Run backend' && \
      python main.py"

    # dependencies
    env_file:
      - ${PWD}/.env
    depends_on:
      - database
      - redis

    # attachments
    volumes:
      - ${PWD}:/app
    networks:
      - local
